header{
    text-align: center;
    font-size: xxx-large;
    font-family: 'Times New Roman' , 'sans-serif';
    background: #333;
    color: #fff;
    padding: 1rem 0;
}
h1{
    text-align: center;
}
form{
    text-align: center;
}
input{
    background-color:rgb(76,0, 153) ;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}
label{
    font-size: x-large;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: static;
    bottom: 0;
    width: 100%;
}
.topnav{
    background-color: #333;
    overflow: hidden;
}
.topnav a{
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 50px;
}
.topnav a:hover{
    background-color: #04AA6D;
    color: white;
}
.topnav a.active{
    background-color: #04AA6D;
    color: white;
}